/**
 * Aside
 */
$--aisde-color: #2e3238;
$--aside-header-color: #ffffff;
$--aside-header-border: #24272c;

/**
 * Chat List
 */
$--chat-list-tips-color: #6b6f7c;
$--chat-list-item-hover-color: #ffffff;
$--chat-list-item-hover-background: #3a3f45;
$--chat-list-item-active-color: #ffffff;
$--chat-list-item-active-background: #3a3f45;
$--chat-list-item-info-color: #989898;
$--contact-list-tips-color: #6b6f7c;
$--chat-list-username-color:#ffffff;

/**
 * Profile
 */
 $--profile-username-color: #ffffff;
 $--profile-menu-color: #777777;
 
 /**
  * Tab
  */
 $--aside-tab-container-icons-active: #3caf36;
 $--aside-tab-container__icons-border: #24272c;

 
 /**
  * Search
  */
 $--search-icon-color: #808285;
 $--search-input-color: #ffffff;
 $--search-input-background: #26292e;
 $--search-container-background: #2e3238;
 $--search-container-box-shadow: #2a2a2a;
 $--search-container-et-color: #787b87;
 $--search-container-et-background: #393c43;
 $--search-result-color: #787b87;
 $--search-result-background: #393c43;
 $--search-result-item-border: #33363b;
 $--search-result-item-background: #393c43;
 $--search-result-item-first-background: #595b64;


/**
 * Subject List
 */
$--subject-list-et-color: #6b6f7c;

/**
 * Contact List
 */
$--contact-list-tips-color: #6b6f7c;
$--contact-list-group-title-color: #787b87;
$--contact-list-group-title-background: #292d32;
$--contact-list-item-color: #ffffff;
$--contact-list-item-border: #292c33;
$--contact-list-item-active-color: #3b4047;
$--chat-list-info-username-color: #ffffff;
$--chat-list-info-time-color: #6b6f7c;
$--chat-list-info-lastMsg-color: #989898;